receberEmail{
  position: absolute;
  width: 300px;
  height: 50px;
  left: 450px;
  top: 490px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

receberSenha{
  position: absolute;
  width: 300px;
  height: 50px;
  left: 450px;
  top: 581px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

botaoLogin{
  position: absolute;
  width: 175px;
  height: 38px;
  left: 514px;
  top: 658px;
  background: #C4C4C4;
}

botaoGoogle{
  position: absolute;
  width: 219px;
  height: 28px;
  left: 490px;
  top: 741px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #000000;
}
